=begin
#SARD API

#This is the SARD API. For more information visit <a href=\"https://www.sardjv.co.uk\">www.sardjv.co.uk</a>.

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.15

=end

require 'uri'

module SwaggerClient
  class EleaveCalendarApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # eleave calendars index
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page 
    # @option opts [String] :per_page 
    # @option opts [String] :filter_id 
    # @option opts [String] :filter_owner_id 
    # @option opts [String] :filter_approver_ids 
    # @return [EleaveCalendarsResponse]
    def api_v1_eleave_calendars_get(opts = {})
      data, _status_code, _headers = api_v1_eleave_calendars_get_with_http_info(opts)
      data
    end

    # eleave calendars index
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page 
    # @option opts [String] :per_page 
    # @option opts [String] :filter_id 
    # @option opts [String] :filter_owner_id 
    # @option opts [String] :filter_approver_ids 
    # @return [Array<(EleaveCalendarsResponse, Fixnum, Hash)>] EleaveCalendarsResponse data, response status code and response headers
    def api_v1_eleave_calendars_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EleaveCalendarApi.api_v1_eleave_calendars_get ...'
      end
      # resource path
      local_var_path = '/api/v1/eleave_calendars'

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'filter[id]'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'filter[owner_id]'] = opts[:'filter_owner_id'] if !opts[:'filter_owner_id'].nil?
      query_params[:'filter[approver_ids]'] = opts[:'filter_approver_ids'] if !opts[:'filter_approver_ids'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiEmail', 'apiToken']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EleaveCalendarsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EleaveCalendarApi#api_v1_eleave_calendars_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # show eleave calendar
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [EleaveCalendarResponse]
    def api_v1_eleave_calendars_id_get(id, opts = {})
      data, _status_code, _headers = api_v1_eleave_calendars_id_get_with_http_info(id, opts)
      data
    end

    # show eleave calendar
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EleaveCalendarResponse, Fixnum, Hash)>] EleaveCalendarResponse data, response status code and response headers
    def api_v1_eleave_calendars_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EleaveCalendarApi.api_v1_eleave_calendars_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EleaveCalendarApi.api_v1_eleave_calendars_id_get"
      end
      # resource path
      local_var_path = '/api/v1/eleave_calendars/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiEmail', 'apiToken']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EleaveCalendarResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EleaveCalendarApi#api_v1_eleave_calendars_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # update eleave calendar
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [EleaveCalendarPatchParams] :eleave_calendar 
    # @return [EleaveCalendarPatchParams]
    def api_v1_eleave_calendars_id_patch(id, opts = {})
      data, _status_code, _headers = api_v1_eleave_calendars_id_patch_with_http_info(id, opts)
      data
    end

    # update eleave calendar
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [EleaveCalendarPatchParams] :eleave_calendar 
    # @return [Array<(EleaveCalendarPatchParams, Fixnum, Hash)>] EleaveCalendarPatchParams data, response status code and response headers
    def api_v1_eleave_calendars_id_patch_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EleaveCalendarApi.api_v1_eleave_calendars_id_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EleaveCalendarApi.api_v1_eleave_calendars_id_patch"
      end
      # resource path
      local_var_path = '/api/v1/eleave_calendars/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.api+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'eleave_calendar'])
      auth_names = ['apiEmail', 'apiToken']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EleaveCalendarPatchParams')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EleaveCalendarApi#api_v1_eleave_calendars_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # create eleave calendar
    # @param [Hash] opts the optional parameters
    # @option opts [EleaveCalendarPostParams] :eleave_calendar 
    # @return [EleaveCalendarPostParams]
    def api_v1_eleave_calendars_post(opts = {})
      data, _status_code, _headers = api_v1_eleave_calendars_post_with_http_info(opts)
      data
    end

    # create eleave calendar
    # @param [Hash] opts the optional parameters
    # @option opts [EleaveCalendarPostParams] :eleave_calendar 
    # @return [Array<(EleaveCalendarPostParams, Fixnum, Hash)>] EleaveCalendarPostParams data, response status code and response headers
    def api_v1_eleave_calendars_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EleaveCalendarApi.api_v1_eleave_calendars_post ...'
      end
      # resource path
      local_var_path = '/api/v1/eleave_calendars'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/vnd.api+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'eleave_calendar'])
      auth_names = ['apiEmail', 'apiToken']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EleaveCalendarPostParams')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EleaveCalendarApi#api_v1_eleave_calendars_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
