=begin
#SARD API

#This is the SARD API. For more information visit <a href=\"https://www.sardjv.co.uk\">www.sardjv.co.uk</a>.

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.15

=end

require 'uri'

module SwaggerClient
  class OnlineJobPlanApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # online job plans index
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page 
    # @option opts [String] :per_page 
    # @option opts [String] :filter_id 
    # @option opts [String] :filter_owner_id 
    # @return [OnlineJobPlansResponse]
    def api_v1_online_job_plans_get(opts = {})
      data, _status_code, _headers = api_v1_online_job_plans_get_with_http_info(opts)
      data
    end

    # online job plans index
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page 
    # @option opts [String] :per_page 
    # @option opts [String] :filter_id 
    # @option opts [String] :filter_owner_id 
    # @return [Array<(OnlineJobPlansResponse, Fixnum, Hash)>] OnlineJobPlansResponse data, response status code and response headers
    def api_v1_online_job_plans_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OnlineJobPlanApi.api_v1_online_job_plans_get ...'
      end
      # resource path
      local_var_path = '/api/v1/online_job_plans'

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'filter[id]'] = opts[:'filter_id'] if !opts[:'filter_id'].nil?
      query_params[:'filter[owner_id]'] = opts[:'filter_owner_id'] if !opts[:'filter_owner_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiEmail', 'apiToken']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OnlineJobPlansResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OnlineJobPlanApi#api_v1_online_job_plans_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # show job plan
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [OnlineJobPlanResponse]
    def api_v1_online_job_plans_id_get(id, opts = {})
      data, _status_code, _headers = api_v1_online_job_plans_id_get_with_http_info(id, opts)
      data
    end

    # show job plan
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OnlineJobPlanResponse, Fixnum, Hash)>] OnlineJobPlanResponse data, response status code and response headers
    def api_v1_online_job_plans_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OnlineJobPlanApi.api_v1_online_job_plans_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OnlineJobPlanApi.api_v1_online_job_plans_id_get"
      end
      # resource path
      local_var_path = '/api/v1/online_job_plans/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiEmail', 'apiToken']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OnlineJobPlanResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OnlineJobPlanApi#api_v1_online_job_plans_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
