=begin
#SARD API

#This is the SARD API. For more information visit <a href=\"https://www.sardjv.co.uk\">www.sardjv.co.uk</a>.

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.15

=end

require 'uri'

module SwaggerClient
  class TenantsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # tenants index
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page 
    # @option opts [String] :per_page 
    # @option opts [String] :filter_pilot 
    # @option opts [String] :filter_name 
    # @return [TenantsResponse]
    def api_v1_tenants_get(opts = {})
      data, _status_code, _headers = api_v1_tenants_get_with_http_info(opts)
      data
    end

    # tenants index
    # @param [Hash] opts the optional parameters
    # @option opts [String] :page 
    # @option opts [String] :per_page 
    # @option opts [String] :filter_pilot 
    # @option opts [String] :filter_name 
    # @return [Array<(TenantsResponse, Fixnum, Hash)>] TenantsResponse data, response status code and response headers
    def api_v1_tenants_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.api_v1_tenants_get ...'
      end
      # resource path
      local_var_path = '/api/v1/tenants'

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'filter[pilot]'] = opts[:'filter_pilot'] if !opts[:'filter_pilot'].nil?
      query_params[:'filter[name]'] = opts[:'filter_name'] if !opts[:'filter_name'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiEmail', 'apiToken']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TenantsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#api_v1_tenants_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # show tenant
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [TenantResponse]
    def api_v1_tenants_id_get(id, opts = {})
      data, _status_code, _headers = api_v1_tenants_id_get_with_http_info(id, opts)
      data
    end

    # show tenant
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TenantResponse, Fixnum, Hash)>] TenantResponse data, response status code and response headers
    def api_v1_tenants_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TenantsApi.api_v1_tenants_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TenantsApi.api_v1_tenants_id_get"
      end
      # resource path
      local_var_path = '/api/v1/tenants/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiEmail', 'apiToken']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'TenantResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TenantsApi#api_v1_tenants_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
